%%% -*- mode: erlang -*-

%% Require OTP version R16 or 17
{require_otp_vsn, "R16|17"}.

%% Depends
{deps_dir, "../"}.
{deps, [{lager, ".*"}]}.

%% Erlang compiler options
{erl_opts, [%% In Erlang releases after 17, use dict:dict()
            %% and queue:queue() for dict() and queue() types.
            {platform_define, "^[0-9]+", namespaced_dict_and_queue},
            debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {i, "../gmt_util/include/"},
            {i, "../partition_detector/include/"}
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.
